.top-banner{
  display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -12px;
      margin-top: 18px;
}

.logo-image {
  height: 50px;
    margin-left: 4px;
    padding-left: 5px;
    border-left: 1px solid black;
}
.image-container {
  display: block;
  text-align: center;
  margin-top: -22px;
}

.front-page-image {
  width: 80%;
  height: auto;
  margin-top: 40px;
}

.intro-image {
  width: 40%;
  height: auto;
}

.DSGN-image {
  width: 90%;
  height: auto;
}

.work-image{
  width: 90%;
  height: auto;
}

.container{
  width: 100%;
  max-width: 100%;
    padding-right: 54px;
    padding-left: 54px;
    padding-top: 40px;
    margin-right: auto;
    margin-left: auto;
    background-color:papayawhip;
}


}
.experience{
  margin-left: -42px;
  margin-right: -300px;
}

.body{
  margin: -12px;
}

.navbar{background:#222222;}
.nav-item::after{content:'';display:block;width:0px;height:2px;background:#cc414c;transition: 0.2s;}
.nav-item:hover::after{width:100%;}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{color:#cc414c;}
.nav-link{padding:15px 5px;transition:0.2s;}
.dropdown-item.active, .dropdown-item:active{color:#cc414c;}
.dropdown-item:focus, .dropdown-item:hover{background:#cc414c;}

.toolkit-image{
  width: 70%;
  margin-top: 50px;
}

.work{
  padding-right: 0px;
}





.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 50%;

  padding: 0 0px;
}

.column img {
  max-width:100%;
  max-height: 100%
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.ml7 {
  position: relative;
}
.ml7 .text-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}



.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #D6645A;
}

.container:hover .overlay {
  opacity: 0.9;
}

.text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
